{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".js"
        ]
      }
    ],
    "import/prefer-default-export": 0,
    "global-require": 0,
    "jsx-a11y/label-has-for": [
      0
    ]
  }
}