{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "global-require": 0,
    "jsx-a11y/label-has-for": [0],
    "jsx-a11y/label-has-associated-control": [0],
    "default-param-last": 0
  }
}
